
# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Node modules
node_modules/

# Build folders
dist/
build/

# Logs
*.log

# SQLite / local databases
*.db
*.sqlite
*.sqlite3
data/mlops.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

